<div class="chat-container">
  <div class="chat-item">
    <div class="user-info">
      <img src="/assets/img/image1.png" alt="User Logo" class="user-logo" />
      <div class="user-details">
        <div class="user-name">{{ itemData.username }}</div>
        <div class="send-date">March 10, 2024</div>
      </div>
    </div>
    <div class="chat-content">
      {{ itemData.message }}
    </div>
    <div class="actions">
      <button class="edit-button">Edit</button>
      <button class="delete-button" (click)="onDeleteChat()">Delete</button>
    </div>
    <div class="comments">
      <div class="comment">
        <div class="user-info">
          <img
            src="/assets/img/image1.png"
            alt="Coment User Logo"
            class="comment-user-logo"
          />
          <div class="user-details">
            <div class="user-name">Jane Smith</div>
            <div class="send-date">March 11, 2024</div>
          </div>
        </div>
        <div class="comment-content">
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia curae.
        </div>
      </div>
    </div>
  </div>
</div>
