<div class="chat-container">
  <div class="chat-item">
    <div class="user-info">
      <img src="/assets/img/image1.png" alt="User Logo" class="user-logo" />
      <div class="user-details">
        <div class="user-name">{{ itemData.username }}</div>
        <div class="send-date">March 10, 2024</div>
      </div>
    </div>
    <div class="chat-content">
      {{ itemData.message }}
    </div>
    <div class="actions">
      <!-- <button class="edit-button">Edit</button> -->
      <button class="delete-button" (click)="onDeleteChat()">Delete</button>
    </div>
    <div class="comments-count" (click)="onOpenCommentClick()">
      <h4>Comments 0</h4>
      <img
        src="../../../assets/img/right_arrow.png"
        alt=""
        class="right-arrow"
      />
    </div>
  </div>
</div>
