<div class="home-container">
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a routerLink="/home">
          <img src="/assets/img/avatar.png" alt="Avatar" class="avatar" />
        </a>

        <div class="user-details" *ngIf="!register_container">
          <div class="first-name">Name:{{ name }}</div>
          <div class="username">Username: {{ username }}</div>
          <div class="userId">UserId: {{ userId }}</div>
          <div class="userId">role: {{ userRole }}</div>
        </div>
      </div>
      <ul class="navbar-links">
        <li *ngFor="let itemData of navItems; let i = index">
          <a
            (click)="onTabClick(i)"
            [class.active-button]="i === activeTabIndex"
          >
            <!-- routerLink="/home/{{ itemData.title }}"  -->
            {{ itemData.topic }}
          </a>
          <button
            (click)="deleteItem(itemData.topicId)"
            *ngIf="isDelete && i != 0"
            class="delete-button"
          >
            Delete
          </button>
        </li>
        <a class="centered" *ngIf="!register_container">
          <img
            src="/assets/img/add_icon.png"
            mat-raised-button
            (click)="openDialog()"
            alt="Add"
            class="add_icon"
          />
          <ng-container *ngIf="isDelete; else refreshIcon">
            <img
              src="/assets/img/refresh_icon.png"
              alt="Refresh"
              (click)="showNavItemDelete()"
              class="refresh_icon"
            />
          </ng-container>
          <ng-template #refreshIcon>
            <img
              src="/assets/img/delete_icon.png"
              alt="Delete"
              (click)="showNavItemDelete()"
              class="delete_icon"
            />
          </ng-template>
        </a>
      </ul>
      <div class="navbar-end">
        <div *ngIf="signout_button" class="signout_button">
          <button class="signout-button" (click)="logOutClick()">
            SignOut
          </button>
        </div>
        <div class="register-container" *ngIf="register_container">
          <button class="signin-button" (click)="signInClick()">SignIn</button>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet class="home-content"></router-outlet>
</div>
