<div class="coment-container">
  <div class="coment-item">
    <div class="user-info">
      <img src="/assets/img/image1.png" alt="User Logo" class="user-logo" />
      <div class="user-details">
        <div class="user-name">commentId: {{ commentItemData.commentId }}</div>
        <div class="user-name">firstName: {{ commentItemData.firstName }}</div>
        <div class="user-name">username: {{ commentItemData.username }}</div>
        <div class="send-date">
          {{ commentItemData.createdDate | date : "dd/MM/yyyy HH:mm" }}
        </div>
      </div>
    </div>
    <div class="coment-content">
      Comment:
      {{ commentItemData.message }}
    </div>
    <div
      class="actions"
      *ngIf="
        commentItemData.userId === userData.userId ||
        userData.role === currentRole
      "
    >
      <!-- <button class="edit-button">Edit</button> -->
      <button class="delete-commit-button" (click)="onDeleteCommit()">
        Delete
      </button>
    </div>
  </div>
</div>
