/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  } */
  
  .signup-container {
    font-family: 'Arial', sans-serif;
    max-width: fit-content;
    margin: 50px auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 0px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: calc(100% - 0px);
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  