<div class="container">
  <div class="topbar">
    <a (click)="goBack()">
      <img
        src="../../../assets/img/right_arrow.png"
        alt="Back Button"
        id="backButton"
      />
    </a>
    <h2 class="title">PostId: {{ paramPostId }}</h2>
  </div>

  <h1 class="post">Post: {{ queryParam }}</h1>

  <div class="comments-list">
    <app-comment-item
      #commentItem
      *ngFor="let itemData of comments"
      [commentItemData]="itemData"
      [userData]="userData"
      (deleteCommit)="onDeleteCommit($event)"
    ></app-comment-item>
  </div>
  <!-- Input box for new message -->
  <div class="input-container" *ngIf="input_container">
    <input
      type="text"
      class="message-input"
      [(ngModel)]="inputComment"
      placeholder="Type your comment here..."
    />
    <button id="sendButton" (click)="onSendClick()" class="sendButton">
      Senddd
    </button>
  </div>
</div>
