<div class="post-container">
  <article class="chat-list" #scrollChat [scrollTop]="scrollChat.scrollHeight">
    <app-chat-item
      #postItem
      *ngFor="let postData of messages; let i = index"
      [itemData]="postData"
      [userId]="userId"
      [userRole]="userRole"
      (deleteChat)="deleteMessage($event)"
      (openComment)="openCommentPage($event.postId, $event.postMessage)"
    ></app-chat-item>
  </article>

  <footer class="message-input-container" *ngIf="signout_button">
    <input
      type="text"
      id="messageInput"
      name="messageInput"
      [(ngModel)]="messageInput"
      (keydown.enter)="onEnterKeyPressed()"
      placeholder="Enter your message..."
    />
    <button id="sendButton" (click)="onSendClick()">Send</button>
  </footer>
</div>
