<div class="home-container">
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <img src="/assets/img/avatar.png" alt="Avatar" class="avatar" />

        <div class="user-details">
          <div class="first-name">John</div>
          <div class="username">here is email</div>
        </div>
      </div>

      <div class="navbar-menu">
        <button class="signout-button">Sign Out</button>
      </div>
    </nav>
  </header>

  <article
    class="chat-list"
    id="msgContainer"
    #scrollMe
    [scrollTop]="scrollMe.scrollHeight"
  >
    <app-chat-item
      #chatItems
      *ngFor="let msg of messages; let i = index"
      [itemData]="msg"
      [postId]="msg.postId"
      (deleteChat)="deleteMessage($event)"
    ></app-chat-item>
  </article>

  <footer>
    <div class="message-input-container">
      <input
        type="text"
        id="messageInput"
        name="messageInput"
        [(ngModel)]="messageInput"
        (keydown.enter)="onEnterKeyPressed()"
        placeholder="Enter your message..."
      />
      <button id="sendButton" (click)="onSendClick()">Send</button>
    </div>
  </footer>
</div>
